<% include partials/header1 %>

<div class = "first">

<nav class="navbar">
<div class="icon container fixed-top">
CESTA

</div>
</nav>


<div class=" container">


<xmp class="welcome">
<h1> WELCOME </h1></xmp> 



<xmp class="desc"><p> This Web Development event </p> 
<p> is being organised by CESTA </p></xmp>







<div class="down">

<div class='mouse'>
	<div class="wheel">
	</div></div>
</div>




</div>

</div>


<div class="second">
        <img src="logo.jpg" class="logo">
        <div class="register1">
        <a href= "/register" role="button" class="btn btn-outline-primary">Register!</a>
        </div>

        <div class="space">
        <div class="column">
        Register for Quiz Round!
        <br>
        <br>
        <img <img src="quiz.png" class="logo">

        <div class="register2 space">
        <a href= "/quiz" role="button" class="btn btn-outline-primary">Bring it!</a>
        </div>
        </div>



       <div class="column2">
        Design your own Endgame website.
        <br>
        <br>
        <img src="shield.png" class="logo">

        <div class="register2 space">
        <a href= "/" role="button" class="btn btn-outline-primary">Join!</a>
        </div>
       </div>
       </div>
</div>




    
<div class="last">
<div class="left container">
<div class= "about">
About CESTA:
</div>
<hr>
CESTA is The Computer Science Society of Delhi Technical Campus
<br>
Current President :- Shashak Srivastava (CSE 3rd Year)
<br>

</div>

<div class="right">
<div class="about">
Developed by :
<hr>
</div>
<br>


</div>

</div>







<br>

<% include partials/footer %>
