<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        .heading{
            color: white;
            background-color: black;
            padding-left: 20%;
            padding-top: 1%;
            padding-bottom: 1%;
        }
        .contain{
            padding-left: 20%;
            padding-top: 5%;
            /*background-color: #cccccc; */
        }
        ul{
            list-style: none;
        }
        p{
            font-size: 20px;
            font-weight: bold;
        }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
</head>
<body >
    <h1 class="heading">GLICH QUIZ ROUND</h1>
    <ol  class="contain">
        <li><p>Which one is the first fully supported 64-bit operating system</p>
            <ul>
            <li><input type="checkbox" class="answers">Windows Vista</li>
            <li><input type="checkbox" class="answers">Mac</li>
            <li><input type="checkbox" class="answers">Linux</li>
            <li><input type="checkbox" class="answers">Windows XP</li>
            </ul>
        </li>
        <li>
                <p>Who invented C?</p>
                <ul>
                    <li><input type="checkbox" class="answers">Dennis Ritchie</li>
                    <li><input type="checkbox" class="answers">Bjarne Stroustrup</li>
                    <li><input type="checkbox" class="answers">James Gosling</li>
                    <li><input type="checkbox" class="answers">Rasmus Lerdorf</li>
                </ul>
        </li>
        <li>
                <p>Which one of these is not an infinity stone?</p>
                <ul>
                    <li><input type="checkbox" class="answers">Soul stone</li>
                    <li><input type="checkbox" class="answers">Mind stone</li>
                    <li><input type="checkbox" class="answers">Fire Stone</li>
                    <li><input type="checkbox" class="answers">Time Stone</li>
                </ul>
        </li>
        <li>
                <p>What of these chips is manufactured by Samsung?</p>
                <ul>
                    <li><input type="checkbox" class="answers">Snapdragon 855</li>
                    <li><input type="checkbox" class="answers">Kirin 970</li>
                    <li><input type="checkbox" class="answers">Exynos 9810</li>
                    <li><input type="checkbox" class="answers">A11</li>
                </ul>
        </li>
        <li>
                <p>Who is the owner of Spacex?</p>
                <ul>
                    <li><input type="checkbox" class="answers">Mark Zuckerberg</li>
                    <li><input type="checkbox" class="answers">Google</li>
                    <li><input type="checkbox" class="answers">NASA</li>
                    <li><input type="checkbox" class="answers">Elon musk</li>
                </ul>
        </li>
        <li>
                <p>Which is the highest rated movie on IMDB?</p>
                <ul>
                    <li><input type="checkbox" class="answers">Avengers Infinity War</li>
                    <li><input type="checkbox" class="answers">Shawshank redeption</li>
                    <li><input type="checkbox" class="answers">The Godfather</li>
                    <li><input type="checkbox" class="answers">The Dark Knight</li>
                </ul> 
        </li>
        <li>
            <p>Which company first developed GUI?</p>
            <ul>
                <li><input type="checkbox" class="answers">Google</li>
                <li><input type="checkbox" class="answers">Xerox</li>
                <li><input type="checkbox" class="answers">UBISOFT</li>
                <li><input type="checkbox" class="answers">Nvidia</li>
            </ul>
        </li>
        <li>
                <p>”Be whats next” is the tagline of which IT giant?</p>
                <ul>
                    <li><input type="checkbox" class="answers">Microsoft</li>
                    <li><input type="checkbox" class="answers">Reddit</li>
                    <li><input type="checkbox" class="answers">Twiiter</li>
                    <li><input type="checkbox" class="answers">Instgram</li>
                </ul>
                
                
                
                
        </li>
        <li>
                <p>Which of these is not a MOBA game</p>
                <ul>
                    <li><input type="checkbox" class="answers">League of legends</li>
                    <li><input type="checkbox" class="answers">DOTA</li>
                    <li> <input type="checkbox" class="answers">Overwatch</li>
                    <li><input type="checkbox" class="answers">Arena Of valor</li>
                </ul>
        </li>
        <li>
                <p>Which of the Following Microsoft programs aren’t available for MAC?</p>
                <ul>
                    <li><input type="checkbox" class="answers">Microsoft Outlook</li>
                    <li><input type="checkbox" class="answers">Microsoft Access</li>
                    <li><input type="checkbox" class="answers">Microsoft OneNote</li>
                    <li><input type="checkbox" class="answers">Microsoft Excel</li>
                </ul>
          
        </li>
        <li>
                <p>Which of the following computer language is used for artificial intelligence?</p>
                <ul>
                    <li><input type="checkbox" class="answers">FORTRAN</li>
                    <li><input type="checkbox" class="answers">PROLOG</li>
                    <li><input type="checkbox" class="answers">C</li>
                    <li><input type="checkbox" class="answers">COBOL </li>
                </ul>   
        </li>
        <li>
                <p>A section of code to which control is transferred when a processor is interrupted is known as</p>
                <ul>
                        <li><input type="checkbox" class="answers">M</li>
                        <li><input type="checkbox" class="answers">SVC</li>
                        <li><input type="checkbox" class="answers">IP</li>
                        <li><input type="checkbox" class="answers">MDR </li>
                </ul>
                 
        </li>
        <li>
                <p>From what location are the 1st computer instructions available on boot up?</p>
                <ul>
                <li><input type="checkbox" class="answers">ROM BIOS</li>
                <li><input type="checkbox" class="answers">CPU</li>
                <li><input type="checkbox" class="answers">BOOT.ini</li>
                <li><input type="checkbox" class="answers">CONFIG.SYS</li>
                </ul>  
        </li>
        <li>
                <p>What could cause a fixed disk error.</p>
                <ul>
                <li><input type="checkbox" class="answers">No-CD installed</li>
                <li><input type="checkbox" class="answers">bad ram</li>
                <li><input type="checkbox" class="answers">slow processor</li>
                <li><input type="checkbox" class="answers">Incorrect CMOS settings</li>
            </ul>
        </li>
        <li>
                <p>Frames from one LAN can be transmitted to another LAN via the device</p>
                <ul>
                <li><input type="checkbox" class="answers">Router</li>
                <li><input type="checkbox" class="answers">Bridge</li>
                <li><input type="checkbox" class="answers">Repeater</li>
                <li><input type="checkbox" class="answers">Modem</li>
                </ul>
        </li>
        <li>
                <p>Process is</p>
                <ul>
                <li><input type="checkbox" class="answers">Program in High level language kept on disk</li>
                <li><input type="checkbox" class="answers">Contents of main memory</li>
                <li><input type="checkbox" class="answers">A program in execution</li>
                <li><input type="checkbox" class="answers">A job in secondary memory</li>
                </ul>
        </li>
        <li>
                <p>A system program that combines the separately compiled modules of a program into a form suitable for execution</p>
                <ul>
                <li><input type="checkbox" class="answers">Assembler</li>
                <li><input type="checkbox" class="answers">Linking loader</li>
                <li><input type="checkbox" class="answers">Cross compiler</li>
                <li><input type="checkbox" class="answers">Load and go</li>
                </ul>
        </li>
        <li>
                <p>The Memory Buffer Register (MBR)</p>
                <ul>
                <li><input type="checkbox" class="answers">Is a hardware memory device which denotes the location of the current instruction being executed.</li>
                <li><input type="checkbox" class="answers">Is a group of electrical circuits (hardware), that performs the intent of instructions fetched from memory.</li>
                <li><input type="checkbox" class="answers">Contains the address of the memory location that is to be read from or stored into.</li>
                <li><input type="checkbox" class="answers">Contains a copy of the designated memory location specified by the MAR after a "read" or the new contents of the memory prior to a "write". </li>
                </ul>
        </li>
        <li>
                <p>Which of the following is a block device</p>
                <ul>
                <li><input type="checkbox" class="answers">Mouse</li>
                <li><input type="checkbox" class="answers">Printer</li>
                <li><input type="checkbox" class="answers">Terminals</li>
                <li><input type="checkbox" class="answers">Disk</li>
                </ul>
        </li>
        <li>
            <p>Which of the following software types is used to simplify using systems software?</p>
            <ul>
            <li><input type="checkbox" class="answers">Spreadsheet</li>
            <li><input type="checkbox" class="answers">Operating environment</li>
            <li><input type="checkbox" class="answers">Timesharing</li>
            <li><input type="checkbox" class="answers">Multitasking</li>
            </ul>
        </li>
    </ol>
    
</body>
</html>











	


