<!doctype html>
<head>

	<title> CESTA Registration </title>
	
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

	<link rel="stylesheet" type="text/css" href="http://127.0.0.1:3000/cssFiles/style2.css">
	<link href="https://fonts.googleapis.com/css?family=Monoton" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Coiny" rel="stylesheet">

</head>

<body>

<nav class="navbar">
<div class="icon container fixed-top">
GLITCH
</div>
</nav>

<div class = "container">
<div class="row">


<div style="width: 30%; margin:30px auto;">
<form action="/register" method = "POST">
	Team Name
	<div class="form-group">
	<input class="form-control" type= "text" name= "name" placeholder= "Team Name">
	</div>
	
	Member 1
	<div class="form-group">
	<input class= "form-control" type= "text" name= "mname" placeholder= "Enter the name of 1st member">
	</div>
	
	Member 2
	<div class="form-group">
	<input class= "form-control" type= "text" name= "m2name" placeholder= "Enter the name of 2nd member">
	</div>
	<div class="form-group">
	<button class="btn btn-lg  btn-block"> Submit! </button>
	</div>
</form>


<a href="/"> Go Back! </a>
</div>
</div>

</div>


<div class="last">
<div class="left container">
<div class= "about">
About CESTA:
</div>
<hr>
CESTA is The Computer Science Society of Delhi Technical Campus
<br>
Current President :- Shashak Srivastava (CSE 3rd Year)
<br>

</div>

<div class="right">
<div class="about">
Developed by :
<hr>
</div>
<br>


</div>
</div>


</body>
</html>