.first{
	background-image: url("BG4.jpg");
	background-size: cover;
	background-position: center center;
	position: relative;
	top: 0;
	bottom: 0;
	height: 80vh;
	z-index: -10;
}
.icon{
	font-family: 'Monoton', cursive;
	font-size: 50px;
	color: rgb(5, 161, 195);
}

.welcome{
	padding-top: 10vh;
	font-family: 'Coiny', cursive;
	font-size: 40px;
	padding-bottom: 0;
	color: rgb(5, 161, 195);
}
.desc{
	font-family: 'Coiny', cursive;
	font-size: 25px;
	padding-top: 0;
	color:white;
}
.second{
	padding-top: 2%;
	padding-bottom: 23%;
}
.logo{
	border-radius: 50%;
	margin-left: auto;
    margin-right: auto;
    width: 50%;;
	height: 225px;
	width: 225px;
	display: block;
}
.down{
	padding-top: 20vh;
	padding-left: 49%;
}
.mouse {
    height: 30px;
    width: 22px;
    border-radius: 10px;
    transform: none;
    border: 2px solid white;
    top: 17
    .wrap {
    width: 100%;
}


}

.wheel {
    height: 5px;
    width: 2px;
    display: block;
    margin: 7px auto;
    background: white;
    position: relative;
}
.btn{
	background-color: rgb(5, 161, 195);
	color:white;
	font-family: 'Coiny', cursive;
	font-size: 22px;
}
.register1{
	padding-left: 14%;
}

.column {
	padding-top: 2%;
  border-right:2px solid rgb(5, 161, 195);
  text-align: center;
  font-family: 'Coiny', cursive;
  font-size: 25px;
  float: left;
  width: 50%;
}
.column2{
	padding-top: 2%;
	border-left:2px solid rgb(5, 161, 195);
	text-align: center;
  font-family: 'Coiny', cursive;
  font-size: 25px;
	float:right;
	width: 50%;
}

/* Clear floats after the columns */
.row:{
  display: table;
  clear: both;
}
}
.seclogo{
	border-radius: 50%;
	margin-left: auto;
    margin-right: auto;
    width: 50%;;
	height: 250px;
	width: 250px;
}
.space{
	padding-top: 2%;
	padding-bottom: 3%;
}
.register2{
	margin-left: auto;
	margin-right: auto;
}
.help{
	padding-top: 3%;
	padding-bottom: 45px;
}
.last{
	color:white;
	font-size: 15px;
}
.logo2{
	border-radius: 50%;
	height: 100px;
	width: 100px;
}
hr{
	border: 1px solid rgb(5, 161, 195);
	width:125px;

}
.left{
	background-color: rgb(28, 29, 30);
	width:50%;
	float:left;
	text-align: center;
	height:130px;
}
.right{
	text-align: center;
	background-color: rgb(28, 29, 30);
	width: 50%;
	float:right;
	height:130px;
}
.about{
	padding-top: 2%;
	color:rgb(5, 161, 195);
}
