body{
	background-image: url("BG3.jpg");
	background-size: cover;
	background-position: center center;
	position: relative;
	top: 0;
	bottom: 0;
	height: 80vh;
	z-index: -10;
}

.icon{
	font-family: 'Monoton', cursive;
	font-size: 50px;
	color: rgb(5, 161, 195);
}
form{
	font-family: 'Coiny', cursive;
  	font-size: 25px;
	color: rgb(5, 161, 195);
	font-size: 30px;
	padding-top: 50%;
}

.btn{
	background-color: rgb(5, 161, 195);
	color:white;
	font-family: 'Coiny', cursive;
	font-size: 22px;
}

.left{
	background-color: rgb(28, 29, 30);
	width:50%;
	float:left;
	text-align: center;
	height:130px;
}
.right{
	text-align: center;
	background-color: rgb(28, 29, 30);
	width: 50%;
	float:right;
	height:130px;
}
.about{
	padding-top: 2%;
	color:rgb(5, 161, 195);
}
.last{
	position: fixed;
  	left: 0;
  	bottom: 0;
  	width: 100%;
	color: white;
	font-size: 15px;

}
hr{
	border: 1px solid rgb(5, 161, 195);
	width:125px;

}
input{
	background-color: black;
}